#root {
  max-width: 1280px;
  margin: 5555 auto;
  margin-top: 30 auto;
  margin-left: 50 auto;

  padding: 60 rem;
  text-align: right;
}@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #191820;
}
